html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 110px !important;
}

.btn-right,
.txt-right {
  text-align: right;
}

.container-margin-top {
  margin-top: 50px;
}

.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid #42A948; /* green */
}

.ng-touched:not(form).ng-invalid:not(form)  {
  border-right: 5px solid #a94442; /* red */
}

.loading {
  width: 50;
  height: 50px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
}

.loading-icon {
  width: 50px;
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
