<div class="timeline-detail-component">
  <form #timelineForm="ngForm">
    <div class="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Timeline Title" [(ngModel)]="title" name="title" [disabled]="!isEnabled"
          required>
      </div>
    </div>

    <div class="card timeline-group" *ngFor="let group of groups let groupIndex=index">
      <div class="card-header">
        <div class="form">
          <div class="form-row">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-bars"></i>
                  </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Group Name" [(ngModel)]="group.name"
                  name="group_{{groupIndex}}_name" [disabled]="!isEnabled">
              </div>
            </div>
            <div class="col col-md-1 btn-right">
              <button class="btn btn-outline-danger" title="Delete Group" (click)="removeGroup(group)" [disabled]="!isEnabled">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="form">
            <div class="form-row">
              <div class="col">
                Text
              </div>
              <div class="col">
                Caption
              </div>
              <div class="col col-md-2">
                Date
              </div>
              <div class="col col-md-2">
                <span *ngIf="false">End</span>
              </div>
              <div class="col col-md-1">
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item" *ngFor="let event of group.events let eventIndex=index">
          <div class="form">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Event Text" [(ngModel)]="event.text" name="group_{{groupIndex}}_event{{eventIndex}}_text"
                  [disabled]="!isEnabled" required>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Event Caption" [(ngModel)]="event.caption" name="group_{{groupIndex}}_event{{eventIndex}}_caption"
                  [disabled]="!isEnabled">
              </div>
              <div class="col col-md-2">
                <input type="date" class="form-control" placeholder="Start" [(ngModel)]="event.startDate" name="group_{{groupIndex}}_event{{eventIndex}}_start"
                  [disabled]="!isEnabled" required>
              </div>
              <div class="col col-md-2">
                <input type="date" class="form-control" placeholder="End" [(ngModel)]="event.endDate" name="group_{{groupIndex}}_event{{eventIndex}}_end"
                  [disabled]="!isEnabled" *ngIf="false" required>
              </div>
              <div class="col col-md-1 btn-right">
                <button class="btn btn-outline-danger" title="Delete Event" (click)="removeEvent(group, event)" [disabled]="!isEnabled">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item btn-right">
          <button class="btn btn-outline-primary" title="Add Event" (click)="activateGroup(group); modal.show();" [disabled]="!isEnabled">
            <i class="fa fa-plus"></i>
            &nbsp;&nbsp;&nbsp;Add Event
          </button>
        </li>
      </ul>
    </div>

    <div class="btn-add-group">
      <button class="btn btn-outline-primary" (click)="addGroup()" [disabled]="!isEnabled">
        <i class="fa fa-plus"></i>
        New Group
      </button>
    </div>

    <div class="card timeline-controls btn-right">
      <div>
        <button class="btn" title="Back" (click)="location.back()">
          <i class="fas fa-arrow-left"></i>
          &nbsp;&nbsp;Back
        </button>
        <button class="btn" title="Share" (click)="share()">
          <i class="fas fa-share-square"></i>
          &nbsp;&nbsp;Share
        </button>
        <button class="btn btn-primary" title="Save" (click)="saveAndRender()" [disabled]="!timelineForm.form.valid || !isEnabled">
          <i class="far fa-save"></i>
          &nbsp;&nbsp;Save &amp; Preview
        </button>
      </div>
    </div>
  </form>

  <div>
    <div #timelineDiv></div>
  </div>
</div>

<app-modal #modal>
  <div class="app-modal-body">
    <form #eventForm="ngForm">
      <div class="form-group">
        <label for="eventTextInput">Event Text</label>
        <input type="text" class="form-control app-modal-focus" id="eventTextInput" name="eventText" placeholder="Event Text" [(ngModel)]="newEvent.text"
          required />
      </div>

      <div class="form-group">
        <label for="eventCaptionInput">Event Caption</label>
        <input type="text" class="form-control" id="eventCaptionInput" name="eventCaption" placeholder="Event Caption" [(ngModel)]="newEvent.caption"
        />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="eventStartInput">Date</label>
          <input type="date" class="form-control" id="eventStartInput" name="eventStart" placeholder="Start" [(ngModel)]="newEvent.startDate"
            required>
        </div>
        <div class="form-group col-md-6">
          <label for="eventEndInput" *ngIf="false">End Time</label>
          <input type="date" class="form-control" id="eventEndInput" name="eventEnd" placeholder="End" [(ngModel)]="newEvent.endDate"
            *ngIf="false" required>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide();">
      <i class="fas fa-times"></i>
      &nbsp;&nbsp;Close
    </button>
    <button type="button" class="btn btn-primary" (click)="addEvent(); modal.hide();" [disabled]="!eventForm.form.valid || !isEnabled">
      <i class="fas fa-check"></i>
      &nbsp;&nbsp;Create
    </button>
  </div>
</app-modal>
