.timeline-detail-component {
  margin-top: 50px;
  margin-bottom: 80px;
}

.timeline-group {
  margin-top: 25px;
}

.timeline-controls {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.timeline-controls .btn,
.app-modal-footer .btn {
  margin-left: 10px;
}

.btn-add-group {
  text-align: center;
  margin-top: 20px;
}
