<h2 class="container-margin-top">About</h2>
<p>
  Timeline is a website to create and share visual timelines. It was created as a learning project and it is not meant
  for
  production use.
</p>
<p>Source code is available
  <a href="https://bitbucket.org/farmas-team/timeline-angular">here</a>.
</p>

<h2>Features</h2>
<ul>
  <li>Integrates with Google+ to authenticate users.</li>
  <li>Users can create timelines of events and share a link to friends.</li>
  <li>Users can 'watch' their friends timelines to have them appear in their home page.</li>
</ul>


<h2>Technologies Used</h2>
<ul>
  <li>
    <a href="https://www.asp.net/core/overview/aspnet-vnext">ASP.NET Core</a>
  </li>
  <li>
    <a href="https://developers.google.com/identity/">Google+ Authentication</a>
  </li>
  <li>
    <a href="https://www.mongodb.com/">MongoDB</a>
  </li>
  <li>
    <a href="https://angular.io/">Angular 2</a>
  </li>
  <li>
    <a href="http://visjs.org/">Vis.js</a>
  </li>
</ul>

<h2>Attributions</h2>

Icons from <a href="https://fontawesome.com/license">Fontawesome</a>.
