<div class="container container-margin-top">
  <div class="row">
    <div class="col-sm">
      <h2>{{timeline?.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <i>Created by {{timeline?.author}} {{formatDate(timeline?.createdDate)}}</i>
    </div>
    <div class="col-sm txt-right" *ngIf="!!timeline && !!user">
      <ng-container *ngIf="user.isAuthenticated && timeline.userId !== user.id">
        <button class="btn btn-primary" title="Add this timeline to your list." (click)="beginTracking()" *ngIf="!isTracking">
          <i class="fas fa-eye"></i>
          &nbsp;&nbsp;Track
        </button>
        <button class="btn btn-primary" title="Remove this timeline from your list." (click)="stopTracking()" *ngIf="isTracking">
          <i class="fas fa-eye-slash"></i>
          &nbsp;&nbsp;Un-Track
        </button>
      </ng-container>
      <button class="btn btn-default" title="Sign in to add this timeline to your list." *ngIf="!user.isAuthenticated" disabled>
        <i class="fas fa-eye"></i>
        &nbsp;&nbsp;Track
      </button>
    </div>
  </div>
</div>

<div class="timeline">
  <div #timelineDiv>
    <div class="timeline-loading">
      <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
</div>
