<div class="intro-component">
  <h1 class="mt-5">Create and Share your Story</h1>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/auth/signin">
      <i class="fab fa-google-plus-g"></i>
      Sign In
    </a>
  </p>
  <div #timelineDiv class="timeline">
    <div class="timeline-loading">
      <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
</div>
