<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">
      <i class="far fa-hourglass"></i>
      Timeline
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/about"]'>
            <i class="fas fa-info-circle"></i>
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://bitbucket.org/farmas-team/timeline-angular">
            <i class="fab fa-bitbucket"></i>
            Source
          </a>
        </li>
      </ul>
      <span class="navbar-text">
        {{user?.displayName}} &nbsp;&nbsp;
      </span>
      <a class="btn btn-success my-2 my-sm-0" href="/auth/signin?redirectUrl={{url}}" *ngIf="!user || !user.isAuthenticated">
        <i class="fab fa-google-plus-g"></i>
        Sign In
      </a>
      <a class="btn btn-secondary my-2 my-sm-0" href="/auth/signout" *ngIf="user && user.isAuthenticated">
        Sign Out
      </a>

    </div>
  </nav>
</header>
