<app-header></app-header>

<main role="main" class="container main-container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <a href="http://federicosilva.net">Federico Silva Armas</a> @2018
    </span>
  </div>
</footer>
