<div class="card">
  <div class="card-header">
    <h2>My Timelines</h2>
    <a class="btn btn-primary float-right btn-add-timeline" title="New" (click)="newTitle='';timelineForm.reset();modal.show()">
      <i class="fa fa-plus"></i>
      New
    </a>
  </div>
  <div class="list-group">
    <a *ngFor="let timeline of timelines" routerLink="/timelines/{{timeline.id}}/edit" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{timeline.title}}</h5>
        <small>created {{formatDate(timeline.createdDate)}}</small>
      </div>
      <div class="float-right">
        <button class="btn" title="Share" (click)="share(timeline.id, $event)">
          <i class="fas fa-share-square"></i>
        </button>
        <button class="btn btn-danger" title="Delete" (click)="remove(timeline.id, $event)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </a>
    <div class="list-group-item list-group-item-action flex-column align-items-start" *ngIf="timelines && timelines.length === 0">
      You haven't created any timelines!
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start timelines-loading" *ngIf="!timelines">
      <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2>Tracked Timelines</h2>
  </div>
  <div class="list-group">
    <a *ngFor="let timeline of trackedTimelines" routerLink="/timelines/{{timeline.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{timeline.title}}</h5>
        <small>created by
          <i>{{timeline.author}}</i> {{formatDate(timeline.createdDate)}}</small>
      </div>
      <div class="float-right">
        <button class="btn" title="Un-Track" (click)="untrack(timeline.id, $event)">
          <i class="fas fa-eye-slash"></i>
        </button>
      </div>
    </a>
    <div class="list-group-item list-group-item-action flex-column align-items-start" *ngIf="trackedTimelines?.length === 0">
      You are not tracking any timelines from other users.
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start timelines-loading" *ngIf="!trackedTimelines">
      <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<app-modal #modal>
  <div class="app-modal-header">
    Create a Timeline
  </div>
  <div class="app-modal-body">
    <form #timelineForm="ngForm">
      <div class="form-group row">
        <label for="newTitleInput" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control app-modal-focus" id="newTitleInput" name="title" [(ngModel)]="newTitle" required>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">
      <i class="fas fa-times"></i>
      &nbsp;&nbsp;Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="add(); modal.hide()" [disabled]="!timelineForm.form.valid">
      <i class=" fas fa-check "></i>
      &nbsp;&nbsp;Create
    </button>
  </div>
</app-modal>
